<div class = "container" >
 <div class = "row" >
  <div class = "col-lg-3">
    <div class="row">
      <%= link_to 'ゲストログイン（閲覧用）', user_guest_sign_in_path, method: :post, class: "btn btn-secondary btn-sm btn-block mb-3" %>
    </div>
    <h1 style="text-align:center" ><font color="orange" face="Comic Sans MS">保育NET</font><br/></h1>


