  <div class = "container" >
    <div class = "row" >
      <div class = "mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <h3>マイページ</h3>
        <h3>登録情報詳細</h3>

        <table class="table table-bordered">
          <tr>
            <th>氏名</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>フリガナ</th>
            <td><%= @user.name_kana %></th>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td><%= @user.email %></th>
          </tr>
        </table>
        <%= link_to "編集する", users_information_edit_path, class: "glyphicon glyphicon-tint btn btn-outline-success ml-4" %>
      </div>
    </div>
  </div>