<footer>
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <P style="text-align:center">CopyRight</P>
      </div>
    </div>
  </div>
</footer>